{% extends "website/base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h3>Eventos</h3>
				<div class="fixed-action-btn">
					<a href="{% url "event_add" %}" class="btn-floating btn-large waves-effect waves-light"><i class="large material-icons">add</i></a>
				</div>
			</div>

			<div class="col s12 card">
				<div class="card-action pagination">
					<a {% if month == '1'  %}class="black-text"{% else %}href="{% url 'event_calendar_date' 1  year %}{% endif %}">Jan</a>
					<a {% if month == '2'  %}class="black-text"{% else %}href="{% url 'event_calendar_date' 2  year %}{% endif %}">Fev</a>
					<a {% if month == '3'  %}class="black-text"{% else %}href="{% url 'event_calendar_date' 3  year %}{% endif %}">Mar</a>
					<a {% if month == '4'  %}class="black-text"{% else %}href="{% url 'event_calendar_date' 4  year %}{% endif %}">Abr</a>
					<a {% if month == '5'  %}class="black-text"{% else %}href="{% url 'event_calendar_date' 5  year %}{% endif %}">Mai</a>
					<a {% if month == '6'  %}class="black-text"{% else %}href="{% url 'event_calendar_date' 6  year %}{% endif %}">Jun</a>
					<a {% if month == '7'  %}class="black-text"{% else %}href="{% url 'event_calendar_date' 7  year %}{% endif %}">Jul</a>
					<a {% if month == '8'  %}class="black-text"{% else %}href="{% url 'event_calendar_date' 8  year %}{% endif %}">Ago</a>
					<a {% if month == '9'  %}class="black-text"{% else %}href="{% url 'event_calendar_date' 9  year %}{% endif %}">Set</a>
					<a {% if month == '10' %}class="black-text"{% else %}href="{% url 'event_calendar_date' 10 year %}{% endif %}">Out</a>
					<a {% if month == '11' %}class="black-text"{% else %}href="{% url 'event_calendar_date' 11 year %}{% endif %}">Nov</a>
					<a {% if month == '12' %}class="black-text"{% else %}href="{% url 'event_calendar_date' 12 year %}{% endif %}">Dez</a>
				</div>
			</div>

			<div class="row">
				<div class="col s12 center-align">
					<ul class="pagination" style="margin-top: 0;">
						<li class="{% if year == '2018' %}active{% else %}waves-effect{% endif %}"><a {% if year != '2018' %}href="{% url 'event_calendar_date' 1 2018 %}"{% endif %}>2018</a></li>
						<li class="{% if year == '2019' %}active{% else %}waves-effect{% endif %}"><a {% if year != '2019' %}href="{% url 'event_calendar_date' 1 2019 %}"{% endif %}>2019</a></li>
						<li class="{% if year == '2020' %}active{% else %}waves-effect{% endif %}"><a {% if year != '2020' %}href="{% url 'event_calendar_date' 1 2020 %}"{% endif %}>2020</a></li>
						<li class="{% if year == '2021' %}active{% else %}waves-effect{% endif %}"><a {% if year != '2021' %}href="{% url 'event_calendar_date' 1 2021 %}"{% endif %}>2021</a></li>
						<li class="{% if year == '2022' %}active{% else %}waves-effect{% endif %}"><a {% if year != '2022' %}href="{% url 'event_calendar_date' 1 2022 %}"{% endif %}>2022</a></li>
						<li class="{% if year == '2023' %}active{% else %}waves-effect{% endif %}"><a {% if year != '2023' %}href="{% url 'event_calendar_date' 1 2023 %}"{% endif %}>2023</a></li>
					</ul>
				</div>
			</div>

			{% if event_subs %}
				{% include 'renders/event_list_render.html' with events=event_subs %}
			{% else %}
				<div class="card-panel">
					Não há nenhum cadastrado evento neste mês.
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
