<div class="row">
  <div class="col s12 m8 offset-m2">
      <h3 *ngIf="!editing">Adicionar Evento</h3>
      <h3 *ngIf="editing">Editar Evento</h3>

    <form materialize [formGroup]="formulario" (ngSubmit)="onSubmit()">

      <div class="input-field tooltip">
        <input id="event_name" type="text" formControlName="name" [ngClass]="formService.inputInvalidoCss(formulario, 'name')"/>

        <label for="event_name">Nome</label>
        <span class="tooltiptext" *ngIf="formService.verificaInvalidTouched(formulario, 'name')">Este campo é obrigatório</span>
      </div>

      <div class="input-field">
        <input id="event_desc" type="text" formControlName="description" [ngClass]="formService.inputInvalidoCss(formulario, 'description')"/>
        <label for="event_desc">Descrição</label>
      </div>

      <!-- INICIO -->
      <div class="row">

        <div class="col s12 m6">
          <div class="input-field tooltip">
            <input id="event_startd" type="text" formControlName="start_date"
            materialize="pickadate" [materializeParams]="materializeDateParams()"
            [ngClass]="formService.inputInvalidoCss(formulario, 'start_date')"/>

            <label for="event_startd">Início</label>
            <span class="tooltiptext" *ngIf="formService.verificaInvalidTouched(formulario, 'start_date')">Este campo é obrigatório</span>
          </div>

        </div>

        <div class="col s12 m6">
          <div class="input-field tooltip">
            <input type="text" formControlName="start_time"
            materialize="pickatime" [materializeParams]="materializeTimeParams()"
            [ngClass]="formService.inputInvalidoCss(formulario, 'start_time')"/>

            <span class="tooltiptext" *ngIf="formService.verificaInvalidTouched(formulario, 'start_time')">Este campo é obrigatório</span>
          </div>
        </div>

      </div>

      <!-- FIM -->
      <div class="row">

        <div class="col s12 m6">
          <div class="input-field tooltip">
            <input id="event_endd" type="text" formControlName="end_date"
            materialize="pickadate" [materializeParams]="materializeDateParams()"
            [ngClass]="formService.inputInvalidoCss(formulario, 'end_date')"/>

            <label for="event_endd">Fim</label>
            <span class="tooltiptext" *ngIf="formService.verificaInvalidTouched(formulario, 'end_date')">Este campo é obrigatório</span>
          </div>

        </div>

        <div class="col s12 m6">
          <div class="input-field tooltip">
            <input type="text" formControlName="end_time"
            materialize="pickatime" [materializeParams]="materializeTimeParams()"
            [ngClass]="formService.inputInvalidoCss(formulario, 'end_time')"/>

            <span class="tooltiptext" *ngIf="formService.verificaInvalidTouched(formulario, 'end_time')">Este campo é obrigatório</span>
          </div>
        </div>

      </div>


      <div class="right">
        <button *ngIf="editing"  class="waves-effect waves-light btn"><i class="material-icons left">delete</i>Deletar</button>

        <button type="submit" class="btn waves-effect waves-light"><i class="material-icons left">save</i>Salvar</button>
      </div>
    </form>


  </div>
</div>
