<div class="row">
  <div class="col s12 m8 offset-m2">
    <h3>Registro de usuário</h3>


      <div class="input-field">
        <input id="user_first_name" type="text" class="validate">
        <label for="user_first_name">Nome</label>
      </div>

      <div class="input-field">
        <input id="user_last_name" type="text" class="validate">
        <label for="user_last_name">Sobrenome</label>
      </div>

      <div class="input-field">
        <input id="user_email" type="text" class="validate">
        <label for="user_email">Email</label>
      </div>

      <div class="input-field">
        <input id="user_password1" type="text" class="validate">
        <label for="user_password1">Senha</label>
      </div>

      <div class="input-field">
        <input id="user_password2" type="text" class="validate">
        <label for="user_password2">Confirmação de Senha</label>
      </div>

      <div class="right" style="margin-top: 1rem;">
        <button type="submit" value="login" class="btn waves-effect waves-light"><i class="material-icons left">input</i>Registrar-se</button>
      </div>

  </div>
</div>
