<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s12">
                    <a routerLink="" class="brand-logo">Calendarium</a>

                    <ul *ngIf="!loggedIn" id="nav-mobile" class="right hide-on-med-and-down">
                        <li routerLinkActive="active"><a routerLink="conta/login">Login</a></li>
                    </ul>

                    <a href="#" data-activates="slide-out" class="button-collapse" materialize="sideNav"
                    [materializeParams]="[{menuWidth: 300,edge: 'left', closeOnClick: true, draggable: true}]"><i class="material-icons">menu</i></a>
                </div>
            </div>
        </div>
    </nav>
</div>
<main>
    <ul id="slide-out" class="side-nav fixed">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            true}">
            <a class="waves-effect" routerLink="">
                <i class="material-icons">home</i>Início
            </a>
        </li>

        <div *ngIf="loggedIn">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}">
                <a class="waves-effect" routerLink="eventos">
                    <i class="material-icons">event</i>Calendário de Eventos
                </a>
            </li>

            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                true}">
                <a class="waves-effect" routerLink="eventos/convites">
                    <i class="material-icons">mail_outline</i>Convites<span *ngIf="qtdConvites > 0"  class="new badge" data-badge-caption="">{{ qtdConvites }}</span>
                </a>
            </li>

            <li><div class="divider" style="margin: 1rem;"></div></li>

            <li><a class="waves-effect" (click)="logoff()">
                <i class="material-icons">directions_run</i>Sair desta conta
            </a></li>
        </div>

        <div *ngIf="!loggedIn">
            <div class="hide-on-large-only">
                <li><div class="divider" style="margin: 1rem;"></div>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                    true}">
                    <a routerLink="conta/login">
                        <i class="material-icons">exit_to_app</i>Login
                    </a>
                </li>
            </div>
        </div>


    </ul>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</main>
