<div class="row">
  <div class="col s12">
    <h3>Eventos</h3>
    <div class="fixed-action-btn">
      <a routerLink="adicionar" class="btn-floating btn-large waves-effect waves-light">
        <i class="large material-icons">add</i>
      </a>
    </div>
  </div>

  <!-- BARRA DE MESES -->
  <div class="col s12 card">
    <button class="btn-flat waves-effect waves-green green-text col s2 m1"
      *ngFor="let mes of meses; index as i"
      (click)="setMes(i + 1)"
      [ngClass]="{'bold black-text': hoje_mes == i + 1 }">{{ mes }}</button>
  </div>

  <!-- BARRA DE ANOS -->
  <div class="row">
    <div class="col s12 center-align">
      <ul class="pagination" style="margin-top: 0;">
        <li *ngFor="let ano of anos"
            [ngClass]="{'active': hoje_ano == ano, 'waves-effect': hoje_ano != ano}"
            (click)="setAno(ano)" >
          <a>{{ ano }}</a>
        </li>
      </ul>
    </div>
  </div>

  <app-eventos-lista
    [objetos]="cache_eventos['' + hoje_ano]['' + hoje_mes]"
    [mensagemArrayVazio]="'Não há nenhum evento cadastrado neste mês.'">
  </app-eventos-lista>

</div>