{% extends 'website/base.html' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col s12 m8 l6 offset-m2 offset-l3">
				<h3>Registro de usuário</h3>
				<form method="post">
					{% csrf_token %}
					{% include 'renders/form.html' with form=form %}
					<div class="right" style="margin-top: 1rem;">
						<button type="submit" value="login" class="btn waves-effect waves-light"><i class="material-icons left">input</i>Registrar-se</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(document).ready(function(){
			$('.tooltipped').tooltip({delay: 50});

			// Faz com que campos com erro de validação fiquem vermelhos
			$('.error-field > input').addClass('validate invalid');
		});
	</script>
{% endblock %}
