<div *ngIf="!objetos.length" >
  <div id="message_container" class="card-panel">{{ mensagemArrayVazio }}</div>
</div>

<ul materialize="collapsible" class="collapsible popout no-margin" data-collapsible="accordion"
*ngFor="let objeto of objetos; index as idx">

  <li id="object_card_{{ idx }}" class="card"
  [ngClass]="{'yellow lighten-4': objeto['creator'] != null && !objeto['invite_id']}">

    <div class="collapsible-header no-padding"
    [ngClass]="{'yellow lighten-4': objeto['creator'] != null && !objeto['invite_id']}">

      <div class="row event-row">
        <div class="m8 s7 col event-title-column">
          <span><strong>{{ objeto['event']['name'] }}</strong></span>
          <br>

          <!-- EVENTO CRIADO -->
          <div class="flexbox" *ngIf="objeto['creator'] == null">
            <div class="space-to-right">
              <span class="grey-text">Confirmados:&nbsp;</span><span>{{ objeto['subscribed'] }}</span>
            </div>
            <div class="space-to-right">
              <span class="grey-text">Pendentes:&nbsp;</span><span>{{ objeto['invited'] }}</span>
            </div>
            <div class="space-to-right">
              <span class="grey-text">Não&nbsp;irão:&nbsp;</span><span>{{ objeto['rejected'] }}</span>
            </div>
          </div>

          <!-- EVENTO CONVIDADO -->
          <div *ngIf="objeto['creator'] != null">
            <span class="grey-text">De: </span>{{ objeto['creator'] }}
          </div>

        </div>

        <!-- DATA/ HORA -->
        <div class="m4 s5 col center-align event-datetime-column">
          <!-- LISTA DE CONVITES -->
          <div *ngIf="objeto['invite_id']" >
            <div *ngIf="formService.comaparaDatas(objeto['event']['start_datetime'], objeto['event']['end_datetime']) == 'igual'" >
                <span>{{ objeto['event']['start_datetime'] | date:'dd/MM/yyyy'}}</span>
                <div class="divider"></div>
                <span class="grey-text">{{ objeto['event']['start_datetime'] | date:'HH:mm'}} - {{ objeto['event']['end_datetime'] | date:'HH:mm'}}</span>
            </div>

            <div *ngIf="formService.comaparaDatas(objeto['event']['start_datetime'], objeto['event']['end_datetime']) != 'igual'" >
                <span>{{ objeto['event']['start_datetime'] | date:'dd/MM/yyyy \'às\' HH:mm'}}</span>
                <div class="divider"></div>
                <span class="grey-text">Até {{ objeto['event']['end_datetime'] | date:'dd/MM/yyyy \'às\' HH:mm'}}</span>
            </div>
          </div>

          <!-- MESMO DIA -->
          <div *ngIf="!objeto['invite_id'] && formService.comaparaDatas(objeto['event']['start_datetime'], objeto['event']['end_datetime']) == 'igual'" >
              <span id="span_start_datetime_{{ idx }}">Dia {{ objeto['event']['start_datetime'] | date:'dd' }}</span>
              <div class="divider"></div>

              <span class="grey-text">
                <!-- HORA DE ÍNICIO E FIM DIFERENTES -->
                <div *ngIf="formService.comparaHoras(objeto['event']['start_datetime'], objeto['event']['end_datetime'])">
                  Às {{ objeto['event']['start_datetime'] | date:'HH:mm' }}
                </div>
                <!-- HORA DE ÍNICIO E FIM IGUAIS -->
                <div *ngIf="!formService.comparaHoras(objeto['event']['start_datetime'], objeto['event']['end_datetime'])">
                  Das {{ objeto['event']['start_datetime'] | date:'HH:mm' }} até as {{ objeto['event']['end_datetime'] | date:'HH:mm' }}
                </div>
              </span>
          </div>

          <!-- MESMO MÊS, DIAS DIFERENTES -->
          <div *ngIf="!objeto['invite_id'] && formService.comaparaDatas(objeto['event']['start_datetime'], objeto['event']['end_datetime']) == 'dia_dif'" >
            <span id="span_start_datetime_{{ idx }}">Dia {{ objeto['event']['start_datetime'] | date:'dd \'às\' HH:mm'}}</span>
            <div class="divider"></div>
            <span class="grey-text">Até dia {{ objeto['event']['end_datetime'] | date:'dd \'às\' HH:mm'}}</span>
          </div>

          <!-- MESMO ANO, MESES DIFERENTES -->
          <div *ngIf="!objeto['invite_id'] && formService.comaparaDatas(objeto['event']['start_datetime'], objeto['event']['end_datetime']) == 'mes_dif'" >
            <span id="span_start_datetime_{{ idx }}">{{ objeto['event']['start_datetime'] | date:'dd \'de\' MMMM \'às\' HH:mm'}}</span>
            <div class="divider"></div>
            <span class="grey-text">Até {{ objeto['event']['end_datetime'] | date:'dd \'de\' MMMM \'às\' HH:mm'}}</span>
          </div>

          <!-- ANOS DIFERENTES -->
          <div *ngIf="!objeto['invite_id'] && formService.comaparaDatas(objeto['event']['start_datetime'], objeto['event']['end_datetime']) == 'ano_dif'" >
            <span id="span_start_datetime_{{ idx }}">{{ objeto['event']['start_datetime'] | date:'dd/MM/yyyy \'às\' HH:mm'}}</span>
            <div class="divider"></div>
            <span class="grey-text">Até {{ objeto['event']['end_datetime'] | date:'dd/MM/yyyy \'às\' HH:mm'}}</span>
          </div>
        </div>
      </div>

    </div>
    <div class="collapsible-body no-padding">
      <div *ngIf="objeto['event']['description'] != ''" class="card-content">
        {{ objeto['event']['description']}}
      </div>

      <!-- AÇÕES DO CARD -->
      <div class="card-action">
        <div *ngIf="objeto['creator'] == null" >
          <a id="a_edit_{{ idx }}" routerLink="editar/{{ objeto['event']['id'] }}">Editar</a>
          <a id="a_send_{{ idx }}" routerLink="convidar/{{ objeto['event']['id'] }}">Enviar convite</a>
        </div>

        <div *ngIf="objeto['creator'] != null && !objeto['invite_id']" >
          <button id="button_cancel_{{ idx }}" class="btn-flat link green-text" (click)="cancelar(idx, objeto['subscription_id'])">Cancelar</button>
        </div>

        <div *ngIf="objeto['invite_id']" >
          <button id="button_accept_{{ idx }}" class="btn-flat link green-text" (click)="responderConvite(true, idx, objeto['invite_id'])">Aceitar</button>
          <button id="button_reject_{{ idx }}" class="btn-flat link green-text" (click)="responderConvite(false, idx, objeto['invite_id'])">Rejeitar</button>
        </div>
      </div>

    </div>
  </li>
</ul>