<div *ngIf="!objetos.length" >
  <div class="card-panel">
    {{ mensagemArrayVazio }}
  </div>
</div>

<ul materialize="collapsible" class="collapsible popout" style="margin: 0" data-collapsible="accordion"
*ngFor="let objeto of objetos; index as idx">

  <li class="card" [ngClass]="{'yellow lighten-4': objeto['creator'] != null && !objeto['invite_id']}">
    <div class="collapsible-header" style="padding: 0;"
        [ngClass]="{'yellow lighten-4': objeto['creator'] != null && !objeto['invite_id']}">

      <div class="row" style="width: 100%; margin-bottom: 0; margin-left: 0;">
        <div class="m8 s7 col" style="min-height: 100%; padding: .5rem 24px;">
          <span><strong>{{ objeto['event']['name'] }}</strong></span>
          <br>

          <!-- EVENTO CRIADO -->
          <div *ngIf="objeto['creator'] == null">
            <span class="grey-text">Confirmados:&nbsp;</span><span>{{ objeto['subscribed'] }}</span>
            <span class="grey-text">Pendentes:&nbsp;</span><span>{{ objeto['invited'] }}</span>
            <span class="grey-text">Não&nbsp;irão:&nbsp;</span><span>{{ objeto['rejected'] }}</span>
          </div>

          <!-- EVENTO CONVIDADO -->
          <div *ngIf="objeto['creator'] != null">
            <span class="grey-text">De: </span>{{ objeto['creator'] }}
          </div>

        </div>

        <!-- DATA/ HORA -->
        <div class="m4 s5 col center-align" style="margin-left: 0; padding: .5rem 24px .5rem 0;">
          <!-- MESMO DIA -->
          <div *ngIf="formService.comaparaDatas(objeto['event']['start_datetime'], objeto['event']['end_datetime']) == 'igual'" >
              <span>Dia {{ objeto['event']['start_datetime'] | date:'dd' }}</span>
              <div class="divider"></div>

              <span class="grey-text">
                <!-- HORA DE ÍNICIO E FIM DIFERENTES -->
                <div *ngIf="formService.comparaHoras(objeto['event']['start_datetime'], objeto['event']['end_datetime'])">
                  Às {{ objeto['event']['start_datetime'] | date:'HH:mm' }}
                </div>
                <!-- HORA DE ÍNICIO E FIM IGUAIS -->
                <div *ngIf="!formService.comparaHoras(objeto['event']['start_datetime'], objeto['event']['end_datetime'])">
                  Das {{ objeto['event']['start_datetime'] | date:'HH:mm' }} até as {{ objeto['event']['end_datetime'] | date:'HH:mm' }}
                </div>
              </span>
          </div>

          <!-- MESMO MÊS, DIAS DIFERENTES -->
          <div *ngIf="formService.comaparaDatas(objeto['event']['start_datetime'], objeto['event']['end_datetime']) == 'dia_dif'" >
            <span>Dia {{ objeto['event']['start_datetime'] | date:'dd \'às\' HH:mm'}}</span>
            <div class="divider"></div>
            <span class="grey-text">Até dia {{ objeto['event']['end_datetime'] | date:'dd \'às\' HH:mm'}}</span>
          </div>

          <!-- MESMO ANO, MESES DIFERENTES -->
          <div *ngIf="formService.comaparaDatas(objeto['event']['start_datetime'], objeto['event']['end_datetime']) == 'mes_dif'" >
            <span>{{ objeto['start_datetime'] | date:'dd/MM \'às\' HH:mm'}}</span>
            <div class="divider"></div>
            <span class="grey-text">Até {{ objeto['event']['end_datetime'] | date:'dd/MM \'às\' HH:mm'}}</span>
          </div>

          <!-- ANOS DIFERENTES -->
          <div *ngIf="formService.comaparaDatas(objeto['event']['start_datetime'], objeto['event']['end_datetime']) == 'ano_dif'" >
            <span>{{ objeto['event']['start_datetime'] | date:'dd/MM/yyyy \'às\' HH:mm'}}</span>
            <div class="divider"></div>
            <span class="grey-text">Até {{ objeto['event']['end_datetime'] | date:'dd/MM/yyyy \'às\' HH:mm'}}</span>
          </div>
        </div>
      </div>

    </div>
    <div class="collapsible-body" style="padding: 0;">
      <div *ngIf="objeto['event']['description'] != ''" class="card-content">
        {{ objeto['event']['description']}}
      </div>

      <!-- AÇÕES DO CARD -->
      <div class="card-action">
        <div *ngIf="objeto['creator'] == null" >
          <a routerLink="editar/{{ objeto['event']['id'] }}">Editar</a>
          <a routerLink="convidar/{{ objeto['event']['id'] }}">Enviar convite</a>
        </div>

        <div *ngIf="objeto['creator'] != null && !objeto['invite_id']" >
          <button class="btn-flat link green-text" (click)="cancelar(idx, objeto['subscription_id'])">Cancelar</button>
        </div>

        <div *ngIf="objeto['invite_id']" >
          <button class="btn-flat link green-text" (click)="responderConvite(true, idx, objeto['invite_id'])">Aceitar</button>
          <button class="btn-flat link green-text" (click)="responderConvite(false, idx, objeto['invite_id'])">Rejeitar</button>
        </div>
      </div>

    </div>
  </li>
</ul>