{% extends "website/base.html" %}

{% block content %}
	<div class="container">
		<div class="col s12 m10 offset-m1">
			{% if not user.is_authenticated %}
				<h3>Bem vindo ao Calendarium!</h3>
				<br>
				<div class="card-panel">Com o Calendarium é possível cadastrar eventos e convidar seus amigos para partipar!<br>Para começar a usar basta <a href="{% url 'register' %}" class="bold">criar uma conta</a>, ou caso você já tenha uma é só fazer <a href="{% url 'login' %}" class="bold">login</a>.</div>
			{% else %}
				<h3>Bem vindo, {{ user.first_name }} {{ user.last_name }}</h3>
				{% if next_events %}
					<br>
					<h4>Próximos Eventos</h4>
					{% include 'renders/event_list_simple.html' with events=next_events %}
				{% endif %}
			{% endif %}
		</div>
	</div>
{% endblock %}
