<div class="row">
  <div class="col s12 m8 l6 offset-m2 offset-l3">
    <h3>Login</h3>

    <div *ngIf="loginError">
      <div class="card-panel red darken-1 white-text">{{ errorMessage }}</div>
    </div>
    <br>

    <form [formGroup]="formulario" (ngSubmit)="tryLogin()">

      <div class="input-field tooltip">
        <input id="user_name" type="text" formControlName="username" [ngClass]="formService.inputInvalidoCss(formulario, 'username')"/>

        <label for="user_name">Usuário</label>
        <span class="tooltiptext" *ngIf="formService.verificaInvalidTouched(formulario, 'username')">Este campo é obrigatório</span>
      </div>

      <div class="input-field tooltip">
        <input id="user_password" type="password" formControlName="password" [ngClass]="formService.inputInvalidoCss(formulario, 'password')">

        <label for="user_password">Senha</label>
        <span class="tooltiptext" *ngIf="formService.verificaInvalidTouched(formulario, 'password')">Este campo é obrigatório</span>
      </div>

      <div class="right" style="margin-top: 1rem;">
        <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="formulario.invalid">
          <i class="material-icons left">exit_to_app</i>Login</button>
      </div>

    </form>

  </div>

  <div class="col s12 m8 l6 offset-m2 offset-l3">
    <br>
    <a routerLink="/conta/registrar" class="btn-flat waves-effect" style="padding-left: 0;">
      <i class="material-icons left">person_add</i>Não tem conta? Cadastre-se
    </a>

    <a routerLink="/conta/esqueceu_senha" class="btn-flat waves-effect" style="padding-left: 0;">
      <i class="material-icons left">lock_open</i>Esqueceu a senha?
    </a>
  </div>
</div>