<div class="col s12 m8 offset-m2">
  <h3>Convites</h3>

    <ul *ngIf="mensagem != ''" class="messages card red lighten-1 white-text">
      <div class="card-content">
          <li>{{ mensagem }}</li>
      </div>
    </ul>

    <div *ngIf="temConvitesPendentes" class="card-panel">
      Não há nenhum convite pendente.
    </div>

    <app-eventos-lista
      [objetos]="cache_convites"
      [mensagemArrayVazio]="'Não há convites pendentes.'"
      (emitirMensagem)="onMensagem($event)">
    </app-eventos-lista>

</div>