{% load event_tags %}

<div class="col s12">
	<ul class="collapsible popout" data-collapsible="accordion">
		{% for e in events %}
			<li class="card">
				<div class="collapsible-header {% if not e.rejected == False and e.event.creator != user %}yellow lighten-4 {% endif %}" style="padding: 0;">
					<div class="row" style="width: 100%; margin-bottom: 0; margin-left: 0;">
						<div class="m8 s7 col" style="min-height: 100%; padding: .5rem 24px;">
							<span><strong>{{ e.event.name }}</strong></span>
							<br>
							{% if e.event.creator != user %}
								<span class="grey-text">De: </span>{{ e.event.creator }}
							{% else %}
								{% event_invitation_count e.event user %}
							{% endif %}
						</div>

						<div class="m4 s5 col center-align" style="margin-left: 0; padding: .5rem 24px .5rem 0;">
							{% if e.rejected == False %}
								<span cla>{{ e.event.start_datetime}}</span>
								<div class="divider"></div>
								<span class="grey-text">Até {{ e.event.end_datetime}}</span>

							{% elif e.event.start_datetime.date == e.event.end_datetime.date %}
								<span>Dia {{ e.event.start_datetime.day}}</span>
								<div class="divider"></div>
								<span class="grey-text">
									{{ e.event.start_datetime.time}}
									{% if e.event.start_datetime.time != e.event.end_datetime.time %}
										 - {{ e.event.end_datetime.time}}
									{% endif %}
								</span>

							{% elif e.event.start_datetime.month == e.event.end_datetime.month and e.event.start_datetime.year == e.event.end_datetime.year %}
								<span>
									Dia {{ e.event.start_datetime.day}} às {{ e.event.start_datetime.time}}
								</span>
								<div class="divider"></div>
								<span class="grey-text">
									Até dia {{ e.event.end_datetime.day}} às {{ e.event.end_datetime.time}}
								</span>

							{% else %}
								<span cla>{{ e.event.start_datetime}}</span>
								<div class="divider"></div>
								<span class="grey-text">Até {{ e.event.end_datetime}}</span>

							{% endif %}
						</div>
					</div>
				</div>
				<div class="collapsible-body" style="padding: 0;">
					{% if e.event.description %}
						<div class="card-content">
							<span>{{ e.event.description }}</span>
						</div>
					{% endif %}
					<div class="card-action">
						{% if e.event.creator == user %}
							<a href="{% url "event_edit" e.event.pk %}">Editar</a>
							<a href="{% url "event_invite" e.event.pk %}">Enviar convite</a>
						{% elif e.rejected == False %}
							<a href="{% url 'event_invite_accept' e.pk %}">Aceitar</a>
							<a href="{% url 'event_invite_reject' e.pk %}">Rejeitar</a>
						{% else %}
							<a href="{% url "event_cancel_subscription" e.pk %}" onclick="return confirm('Tem CERTEZA que deseja CANCELAR sua confirmação neste evento?');">Cancelar</a>
						{% endif %}
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
</div>